
<ul class="list-group">
    <li class="list-group-item">
      <a href='{{url_for("admin")}}'>Admin</a>
    </li>
    <li class="list-group-item">
      <a href='{{url_for("about_tech")}}'>
        Teacher Data
      </a>
    </li>
    <li class="list-group-item">
      <a href='{{url_for("about_stud")}}'>
        Student Data
      </a>
    </li>
    <li class="list-group-item">
      <a href='{{url_for("about")}}'>
        Data
      </a>
    </li>
    <li class="list-group-item">
      <a href='{{url_for("insert")}}'>
        Add Data
      </a>
    </li>
  </ul>